
$max-width-slider: 1100px;
$max-height-slider: 800px;

$border-radius-small: 10px;
$border-radius-large: 20px;

$primary-color: white;
$second-color: #2BFF88;

$array-name-images: (
    slide1 : 'floresta em volta do rio', 
    slide2 : 'gato no campo', 
    slide3 : 'ovelha filhote na grama', 
    slide4 : 'montanhas rio e floresta', 
    slide5 : 'mulher de bracos abertos'
);
